{% extends 'base.html.twig' %}

{% block body %}
    <h1>PAYMENT INFORMATION</h1>

    I wish someday this will become a real site but till then we cannot send you shoe so just go to the next step
    <div>
        <a href="{{ path('shoe_buy') }}"><input type="button" value="Next"></a>
    </div>
{% endblock %}

