{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-left mb-5 display-5 font-weight-bold">CHATS</h1>
        <div class="row">
            <div class="col-lg-12">
    {% for chat in chats %}
        {% if chat['read'] == true %}
            {% set style = "color: grey;"  %}
        {% else %}
            {% set style = "font-weight: 900;color: black;" %}
        {% endif %}
        <div class="mt-3 mb-3">
        <a href="{{ path('message_chat', {"shoeId": chat['shoeId'], "userId": chat['personId']}) }}">

            <span class="align-middle" style="{{ style }}">
                {{ chat['personName'] }} for
                {{ chat['shoeName'] }}
            </span>

        </a>
        </div>
    {% endfor %}
            </div>
            </div>
            </div>
{% endblock %}


