{% extends 'base.html.twig' %}

{% block body %}
<h1>USER LOGIN</h1>

<form name="authenticate" method="POST" action="{{ path('security_login') }}">
    <div>
        Email: <label><input type="text" name="_username"></label>
    </div>
    <div>
        Password: <label><input type="password" name="_password"></label>
    </div>
    <div>
        <input type="submit" name="login" value="Log in">
    </div>
    <div>If you don't have account you can <a href="{{ path('security_register') }}">register</a>.</div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
</form>
{% endblock %}